<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Device</title>
</head>
<body>
<h1>New Device details</h1>
    <form method="POST">
        <p><input type="text" label="Device Name" name="device_name"></p>
        <p><input type="text" label='Device Description' name="device_description"></p>
        <p><input type="text" label='Initial Inventory' name="Inventory"></p>
        <p><input type="text" label='Device Category' name="device_category"></p>

        <p><input type="submit" value="Submit">
    </form>
</body>
</html>